@model FerramentaPedagogica.Areas.SessaoJogo.Models.Pergunta.PerguntaSessaoViewModel;

@{
    ViewData["Title"] = "Pergunta";
}

@Html.HiddenFor(model => model.CodigoSessao)
@Html.HiddenFor(model => model.PerguntaAtual)
@Html.HiddenFor(model => model.Tempo)
<div class="row">
    <div class="col s12">
        <div class="card">
            <div id="texto-pergunta" class="card-content" data-ajax-url="@Url.Action("Index", "Contador", new { Sessao = Model.CodigoSessao, Pergunta = Model.PerguntaAtual })">
                <p>@Model.Descricao</p>
            </div>
        </div>
    </div>
</div>
@if (Model.Imagem != null || !string.IsNullOrEmpty(Model.URLYoutube))
{
    <div class="row">
        <div class="col s12 div-midia">
            @if (Model.Imagem != null)
            {
                <img id="img-inserida" class="midia" src="@("data:image / png; base64," + Convert.ToBase64String(Model.Imagem))" />
            }
            else if (!string.IsNullOrEmpty(Model.URLYoutube))
            {
                <iframe id="videoYoutube" class="midia" src="@(Model.URLYoutube + "&autoplay=1")" type="text/html" width="700" height="475" frameborder="0"></iframe>
            }
        </div>
    </div>
}

@if (string.IsNullOrEmpty(Model.URLYoutube))
{
    <audio id="efeitoSonoro" loop src="~/sounds/MusicaFundo.mp3" autoplay></audio>
}
<div class="row">
    <div class="col s12 l6">
        <div class="card">
            <div class="card-content">
                <div class="row div-opcoes">
                    <div class="col s2 red center-align">
                        <span class="opcao">A</span>
                    </div>
                    <div class="col s10">
                        <p class="texto-opcao">@Model.RespostaA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card">
            <div class="card-content">
                <div class="row div-opcoes">
                    <div class="col s2 blue center-align">
                        <span class="opcao">B</span>
                    </div>
                    <div class="col s10">
                        <p class="texto-opcao">@Model.RespostaB</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.RespostaC))
    {
        <div class="col s12 l6">
            <div class="card">
                <div class="card-content">
                    <div class="row div-opcoes">
                        <div class="col s2 yellow center-align">
                            <span class="opcao">C</span>
                        </div>
                        <div class="col s10">
                            <p class="texto-opcao">@Model.RespostaC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.RespostaD))
    {
        <div class="col s12 l6">
            <div class="card">
                <div class="card-content">
                    <div class="row div-opcoes">
                        <div class="col s2 green center-align">
                            <span class="opcao">D</span>
                        </div>
                        <div class="col s10">
                            <p class="texto-opcao">@Model.RespostaD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/Sessao/Pergunta/Pergunta.css" />

@section scripts {
    <script src="~/js/Sessao/Pergunta/Pergunta.js"></script>
}
